{% load static %}
<section class="banner-area">
    <div class="banner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9">
                    <div class="banner-content">
                        <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s"><span>SCALING NEW HEIGHTS OF  <span>INNOVATION</span></span> </h1>
                        <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">Technology Company</span>
                        <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">Avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter conse.</p>
                        <ul class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2.6s" >
                            <li><a class="main-btn" href="{% url 'about-us' %}">Discover More</a></li>
                            <li><a class="main-btn main-btn-2" href="{% url 'about-us' %}">Read More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape-1">
    </div>
    <div class="banner-shape-2">
        <img src="{% static 'images/banner-shape-1.png' %}" alt="">
    </div>
    <div class="banner-shape-3">
        <img src="{% static 'images/banner-shape-2.png' %}" alt="">
    </div>
</section>