{% load static %}
<div class="brand-area pb-130">
    <h3 class="text-center">Our Partners</h3>
    <br />
    <div class="container">
        <div class="row brand-active">
            <div class="col-lg-4">
                <div class="brand-item text-center">
                    <img src="{% static 'images/ONCG-NEW-LOGO.jpg' %}" alt="" width="120" height="75">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="brand-item text-center">
                    <img src="{% static 'images/SHI.jpg' %}" alt="" width="120" height="85">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="brand-item text-center">
                    <img src="{% static 'images/nupo.jpg' %}" alt="" width="150" height="105">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="brand-item text-center">
                    <img src="{% static 'images/omegalogo.png' %}" alt="" >
                </div>
            </div>


        </div>
    </div>
</div>