{% load static %}
<section class="fact-area pt-80 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="fact-item mt-30">
                    <h3 class="title"><span class="counter">100</span> %</h3>
                    <span>Globaly Overviews</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="fact-item mt-30">
                    <h3 class="title"><span class="counter">90</span> %</h3>
                    <span>Globaly Overviews</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="fact-item mt-30">
                    <h3 class="title"><span class="counter">50</span> %</h3>
                    <span>Globaly Overviews</span>
                </div>
            </div>
            {% comment %} <div class="col-lg-3 col-sm-6">
                <div class="fact-item mt-30">
                    <h3 class="title"><span class="counter">87</span> %</h3>
                    <span>Globaly Overviews</span>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>