{% load static %}
<footer class="footer-area pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-logo text-center pb-45">
                    <a href="#"><img src="{% static 'images/ontech1.JPG' %}" alt="" width="100" height="50" ></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget mt-30">
                    <div class="footer-title">
                        <h4 class="title">About Company</h4>
                    </div>
                    <div class="footer-items-1">
                        <p> We Provide high quality work that not only needs the need of the clients, but surpasses it.
                            We also provide technical guidance and oversight to ensure that the work delivered is in accordance with technical standard of our clients.</p>
                        <ul>
                            <li><a href="https://www.facebook.com/ontechltd" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" target="_blank"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ontech-ltd-481382230" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC9M6oVR-fi-ld9d_EqjXv_A" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget ml-30 mt-30">
                    <div class="footer-title">
                        <h4 class="title">Quick Links</h4>
                    </div>
                    <div class="footer-items-2 d-flex">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about-us' %}">About</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                            <li><a href="#">Meet The Team</a></li>
                            <li><a href="#">Setting & Privacy</a></li>                            
                        </ul>
                        
                        <ul class="ml-40">
                            
                            <li><a href="{% url 'services' %}">S/w Developmentt</a></li>
                            <li><a href="{% url 'services' %}">Web Security</a></li>
                            <li><a href="{% url 'services' %}">Domain & Hosting</a></li>
                            <li><a href="{% url 'services' %}">Server System</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="footer-widget ml-10 mt-30">
                    <div class="footer-title">
                        <h4 class="title">Recent News</h4>
                    </div>
                    <div class="footer-items-3">
                        <div class="News-item d-flex">
                            <div class="News-thumb">
                                <img src="{% static 'images/SHI.jpg' %}" alt="">
                            </div>
                            <div class="News-content">
                                <a href="https://www.skillshubinternational.com/notice/board" target="_blank">
                                    <h5 class="title">Skills Hub Internation Ltd has launched call for Digital and Soft skills Training Services</h5>
                                </a>
                                <span>05 Aug 2022 </span>
                            </div>
                        </div>
                        <div class="News-item d-flex mt-20">
                            <div class="News-thumb">
                                <img src="{% static 'images/psi.jpg' %}" alt="">
                            </div>
                            <div class="News-content">
                                <a href="#">
                                    <h5 class="title">SHI Ltd is officially an accepted PSI Test center located at Kisimeni- Ikaze House 5th floor</h5>
                                </a>
                                <span>12 Aug 2022 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright">
                    <span><i class="fal fa-phone-office"></i> (+250) 788303061</span>
                    <p>©2022 ONTech Ltd</p>
                </div>
                <div class="back-top">
                    <a href="#" class="back-to-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>